.package-info {
    margin-top: 20px;
    text-align: center; /* Centra el contenido horizontalmente */
    background-color: #cac6c0; /* Fondo claro */
    padding: 20px; /* Espacio interior */
    border-radius: 10px; /* Bordes redondeados */ 
}

.Basico-img {
    width: 20%;
    height: auto;
    margin-bottom: 10px; /* Espacio inferior */
}

.Basico-title {
    font-size: 24px; /* Tamaño de fuente más grande */
    color: #2e2824; /* Color de texto oscuro */
    margin-bottom: 10px; /* Espacio inferior */
    
}

.Basico-text {
    font-size: 16px; /* Tamaño de fuente */
    line-height: 1.6; /* Espacio entre líneas */
    color: #2e2824; /* Color de texto más suave */
}

/* Estilos para la sección de Métodos de Pago */
.MetodosPago {
    margin-top: 20px;
    text-align: center;
}

.Pago {
    margin-bottom: 20px;
}

.Pago-img {
    width: 100px; /* Tamaño de las imágenes de los métodos de pago */
    height: auto;
    margin-bottom: 10px;
}

.Pago-description {
    font-size: 18px;
}

.Nota {
    margin-top: 20px;
}

/* Estilos para el ScrollView horizontal */
.scroll-view {
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    white-space: nowrap; /* Evita el retorno de línea */
    -webkit-overflow-scrolling: touch; /* Proporciona un desplazamiento suave en dispositivos táctiles */
    -ms-overflow-style: -ms-autohiding-scrollbar; /* Estilo del desplazamiento en Internet Explorer */
    display: flex; /* Utiliza flexbox para centrar el contenido */
    justify-content: flex-start; /* Alinea el contenido a la izquierda por defecto */
}

.scroll-view-container {
    display: inline-block; /* Mantiene las imágenes en una línea */
    text-align: center; /* Centra el contenido horizontalmente */
}

.scroll-view-container a {
    display: inline-block; /* Mantiene cada imagen en línea */
    margin-right: 10px; /* Espacio entre las imágenes */
}

.scroll-view-container a img {
    width: 200px; /* Ancho fijo para las imágenes */
    height: 200px; /* Altura ajustada automáticamente para mantener la proporción */
}

@media screen and (min-width: 768px) {
    .scroll-view {
        justify-content: center; /* Centra el contenido horizontalmente solo en pantallas grandes */
    }
}
