/*Styles for header*/
:root{
    --padding-container: 100px 0;
    --color-title: #001A49;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.hero{
    width: 100%;
    height: 200px;
    min-height: 100px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #000;
    background-color: #a09452dd;
}


.nav{
    --padding:var(--padding-container);
    height: 90%;
    display: flex;
    align-items: center;
    

}
.nav__logo{
    display: flex; 
    align-items: center;
}
.nav__icon{
    width: 12%;
    height: 12%; 
    border-radius: 50%;
    margin-right: 10px;
}
.nav__title{
    font-weight: 300;
    margin: 0;

}
.nav__items{
    list-style: none;
}
.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap:2em;
}
.nav__links{
    color: #000;
    text-decoration: none;
    font-size: 18px;
}
.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.nav__img{
    display: block;
    width: 30px;
}
.nav__close{
    display: var(--show, none);
}
.hero__container{
    max-width: 800px;
    display: grid;
    --padding-container:0;
    grid-auto-rows: max-content;
    align-content: center;
    gap:1em;
    padding-bottom: 100px;
    text-align: center;
}
@media (max-width:800px){
    .nav__menu{
        display: block;
    }
    .nav__link--menu{
        position: fixed;
        background-color: #f6f0f0;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }
    .nav__link--show{
        --show:block;
        opacity: 1;
        pointer-events: unset;

    }
    .nav__logo{
        width: 0;
        height: 0;
    }
    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }
}


/* Styles for carrusel */
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 20px; /* Espacio superior */
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.4s ease;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
}

.carousel-item img {
    width: 30%;
    height: 70%;
    display: block;
    margin: auto; /* Centra la imagen horizontalmente */
    border-radius: 30px; /* Borde redondeado para la imagen */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.carousel-item h2,
.carousel-item p {
    margin-bottom: 10px; /* Espacio entre el texto y la imagen */
}
/*Styles Porque*/
.Porque-container {
    text-align: center; /* Centra el contenido del contenedor */
}

.Porque-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Coloca las imágenes en columnas flexibles */
    grid-gap: 10px; /* Ajusta el espacio entre las imágenes */
}

.Porque-images div {
    text-align: center; /* Centra el contenido dentro de cada bloque de imagen */
}

.Porque-images div img {
    width: 100px;
    height: 100px;
}

.Porque-images div h3 {
    margin-top: 10px; /* Ajusta el margen superior del texto según sea necesario */
}

/* Styles for muestras */
.Muestras {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Muestras-carousel {
    display: flex;
    overflow-x: auto;
    width: 100%;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Oculta las barras de desplazamiento en Firefox */
    -ms-overflow-style: none; /* Oculta las barras de desplazamiento en Internet Explorer */
}

.Muestras-carousel::-webkit-scrollbar {
    display: none; /* Oculta las barras de desplazamiento en WebKit (Chrome, Safari, etc.) */
}

.Muestras-carousel img {
    width: 300px; /* Ancho fijo de las imágenes */
    height: auto;
    flex-shrink: 0; /* Evita que las imágenes se encogen para ajustarse al contenedor */
    margin-right: 10px; /* Espacio entre las imágenes */
    scroll-snap-align: start;
}

.Muestras-title {
    text-align: center;
    color: #333;
    font-size: 32px;
    margin-top: 10%;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.Muestras-text {
    text-align: center;
    color: #666;
    font-size: 18px;
    font-family: Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
    font-style: italic;
}

/* Styles for Precios*/

.Precios {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si no caben en una sola línea */
}

.paquete {
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    flex: 1 1 300px; /* Establece el ancho mínimo y máximo de cada paquete */
    margin-bottom: 20px; /* Espacio entre los paquetes */
}

.paquete h2 {
    margin-top: 0;
    font-size: 24px;
}

.paquete p {
    margin-bottom: 10px;
    font-size: 18px;
}

.boton-comprar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.boton-comprar:hover {
    background-color: #0056b3;
}
.leyenda-Precios {
    text-align: center;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    font-size: 14px;
    color: #666; /* Color del texto */
}

.leyenda-Precios p {
    margin: 0; /* Elimina el margen predeterminado del párrafo */
}