/* Estilos generales */
body {
    background-color: #f8f8f8; /* Color de fondo elegante */
}

/* Estilos para el encabezado */
header {
    background-color: #333; /* Color de fondo oscuro para resaltar */
    padding: 20px 0;
    text-align: center;
    position: relative;
}

.title-box {
    display: inline-block;
    background-color: #fff; /* Fondo blanco para el título */
    padding: 10px 20px;
    border-radius: 20px 0 20px 0;

}

header h1 {
    font-size: 2.5em;
    margin: 0;
    color: #333; /* Color del texto del título */
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu-btn img {
    width: 40px;
    height: auto;
}

/* Styles for navigation menu */
nav {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #f0f0f0;
}

.show-menu {
    display: block;
}


/* Styles for hero section */
.hero {
    background-image: url('./Images/hero.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.btn {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Styles for features section */
.features {
    text-align: center;
    padding: 50px 0;
}

.features h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.feature {
    display: inline-block;
    margin: 0 20px;
    width: 30%;
    vertical-align: top;
}

.feature img {
    width: 100%;
    border-radius: 10px;
}

.feature h3 {
    margin-top: 20px;
    font-size: 1.5em;
}

.feature p {
    font-size: 1.1em;
}